<!doctype html>
<html class="no-js" lang="">
  <head>
	<meta charset="utf-8">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
	<title>Day 27</title>
	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

	<!-- build:css styles/vendor.css -->
	<!-- bower:css -->
	<!-- endbower -->
	<!-- endbuild -->



	<!-- build:css styles/main.css -->
	<link rel="stylesheet" href="styles/main.css">
	<!-- endbuild -->

	<!-- build:js scripts/vendor/modernizr.js -->
	<script src="../bower_components/modernizr/modernizr.js"></script>
	<!-- endbuild -->
  </head>
  <body ng-app="app" ng-controller="loginController">
	<!--[if lt IE 10]>
	  <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->


	<section class="contact-form" ng-show="submitSuccess">
		<h1> Contact Us </h1>
		<form ng-submit="submit()">
			<h2> Name </h2>
			<input ng-change="change()" ng-class="errorClass" ng-model="name" type="text" placeholder="Steve McDoodle">
			<h3 ng-bind="error1"></h3> <br>
			<h2> Email </h2>
			<input ng-model="email" type="text" placeholder="bob@gmail.com">
			<h3 ng-bind="error2"></h3> <br>
			<h2> Website </h2>
			<input ng-model="website" type="text" placeholder="http://google.com">
			<h3 ng-bind="error3"></h3> <br>
			<h2> Message </h2>
			<textarea ng-model="message" type="text" placeholder="A friendly message..."> </textarea> <br>
			<h3 ng-bind="error4"></h3> <br>
			<button> Submit </button> <br>
		</form>
	</section>

	<section class="success-page" ng-hide="submitSuccess">
		<h1> Thanks for contacting us {{ name }}. We have recieved your message and will be in touch with you shortly. </h1>
	</section>

	<!-- build:js scripts/vendor.js -->
	<!-- bower:js -->
	<script src="/bower_components/modernizr/modernizr.js"></script>
	<script src="/bower_components/jquery/dist/jquery.js"></script>
	<script src="/bower_components/angular/angular.js"></script>
	<!-- endbower -->
	<!-- endbuild -->

		<!-- build:js scripts/main.js -->
		<script type="text/javascript" src="scripts/app.js"></script>
		<script type="text/javascript" src="scripts/controller.js"></script>
		<!-- endbuild -->
</body>
</html>
